{% extends 'navbar.html' %}
{% block content %}
{% load static %}
 <h2 align="center" >Add Student Data</h2>
<form action="readdata" method="post">
    {% csrf_token %}
<h3 align="center">{{data}}</h3>
    <link href="{% static 'css/addstudent.css'%}" rel="stylesheet">
<table align="center">
    <tr>
        <td>Name</td>
        <td><input type="text" name="txtname"></td>

    </tr>
    <tr>
        <td>Age</td>
        <td><input type="number" name="txtnum"></td>
    </tr>
    <tr>
        <td>Phno</td>
        <td><input type="number" name="txtphno"></td>
    </tr>
    <tr>
        <td>City</td>
        <td><select name="ddlcity">
            {% for i in City_Data %}
            <option>{{i.City_Name}}</option>
            {% endfor %}
        </select></td>
    </tr>

    <tr>
        <td>Course:</td>
        <td><select name="ddlcourse">
            {% for i in Course_Data %}
            <option>{{i.Course_Name}}</option>
            {% endfor %}
        </select></td>
    </tr>
    <tr>
        <td><input type="submit" name="btnsub" value="submit"></td>
        <td><a href="{% url 'reg' %}">Signup</a></td>
    </tr>
</table>
</form>
{% endblock %}